<div class="nav">
    <a href="?page=home" class="title">POKE<strong>MART</strong></a>


    <form  action="?page=home&action=search" method="POST">
        <div class="searchDiv">
            <input id="searchInput" type="text" name="search" value="" maxlength="10">
            <button id="searchBtn" type="submit">Search</button>
        </div>
    </form>
    <p class="Gtitle">Generations</p>
    <div class="generationDiv">
        <div class="genList">
            <button class="btngen">1 Generation</button>
            <button class="btngen">2 Generation</button>
            <button class="btngen">3 Generation</button>
            <button class="btngen">4 Generation</button>
            <button class="btngen">5 Generation</button>
            <button class="btngen">6 Generation</button>
            <button class="btngen">7 Generation</button>
        </div>
    </div>
</div>